<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yzi.doutu">
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<!--  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />-->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission
      android:name="android.permission.PACKAGE_USAGE_STATS"
      tools:ignore="ProtectedPermissions" />
  <application
      android:allowBackup="true"
      android:icon="@mipmap/meizi_"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:name=".service.DouApplication"
      android:theme="@style/AppTheme"
      android:networkSecurityConfig="@xml/network_security_config">

    <!--在Android P系统的设备上，如果应用使用的是非加密的明文流量的http网络请求，则会导致该应用无法进行网络请求，
    https则不会受影响，同样地，如果应用嵌套了webview，webview也只能使用https请求。-->

<!-- 如果一定要使用明文通信的话 application标签增加以下属性：android:networkSecurityConfig-->
    <activity
        android:name=".main.MainActivity"
        android:launchMode="singleTask"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

    </activity>
    <activity android:name=".activity.TypeTemplateListActivity"/>
    <activity android:name=".activity.RealManInfoListActivity"/>
    <activity android:name=".activity.TypeTemplateActivity"/>
    <activity android:name=".activity.SearchDialogActivity"
        android:screenOrientation="portrait"
        android:theme="@style/DialogStyleBottom"/>

    <activity android:name=".activity.ModifyPicActivity" android:screenOrientation="portrait"/>
    <activity android:name=".activity.MyFavoritesActivity"/>
    <activity android:name=".activity.MyDIYPicActivity"/>
    <activity android:name=".activity.AboutActivity"/>
    <activity android:name=".activity.HotTemplateActivity"/>
    <activity android:name=".activity.AllpicInfoActivity"/>
    <activity android:name=".activity.MyThemeFavoritesActivity"/>
    <activity
        android:name=".activity.ModifyImgActivity"
        android:screenOrientation="portrait"
        android:theme="@style/MyThemeBlack" />


    <activity
        android:name=".permission.HelpActivity"
        android:launchMode="singleTop"
        android:theme="@style/TransparentDialog"/>

    <activity
        android:name="com.pizidea.imagepicker.ui.ImagesGridActivity"
        android:label="@string/app_name"
        android:theme="@style/AppBaseThemes" />
    <activity
        android:name="com.pizidea.imagepicker.crop.CropActivity"
        android:label="@string/app_name"
        android:theme="@style/AppBaseThemes" />

    <activity
        android:name="com.tencent.connect.common.AssistActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <activity
        android:name="com.tencent.tauth.AuthActivity"
        android:launchMode="singleTask"
        android:noHistory="true" >
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="tencent1105824118" />
      </intent-filter>
    </activity>


    <service android:name="com.yzi.doutu.service.WindowService"/>

    <!-- 解决 Android N 7.0 上 报错：android.os.FileUriExposedException -->

    <!-- 引用的图库选择器libary 里也有这个 会重复 -->
<!--    <provider
        tools:replace="android:authorities"
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.yzi.doutu.fileProvider"
        android:grantUriPermissions="true"
        android:exported="false">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths" />
    </provider>-->

  </application>

</manifest>
